html {
    font-size: 1rem;
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.work_space {
    overflow-x: scroll;
    overflow-y: scroll;
}

.main_view {
    display: inline-block;
    overflow: auto;
    max-width: 100%;

}

footer {
    height: 3em;
    background: darkgrey;
}
